body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://fthmb.tqn.com/2Pc735EoPs4hMyShsl52K_Z9e_o=/768x0/filters:no_upscale()/172013435-58b8320a3df78c060e6536e4.jpg");
  background-size: 100%;
}
