.jumbotron {
  width: 100%;
  margin-bottom: 10px;
  background-color: black;
}

.score{
  text-align: center;
}

.title {
  text-align: center;
  font-family: VT323;
  color: #FFFB01;

}

h2 {
  text-align: center;
  font-family: VT323;
}

h3 {
  text-align: center;
  font-family: VT323;
}
