.jumbotron {
  width: 100%;
  max-height: 350px;
  margin-bottom: 10px;
  background-image: url("https://media.giphy.com/media/Os30SuayYY9Ec/giphy.gif");
  background-size: 100%;
  background-repeat: none;

}

.title {
  text-align: center;
  font-family: Sedgwick ave display;
  color: #c62b29;
  margin-top: 5px;
}

.score {
  text-align: center;
  font-family: VT323;
  color: grey;
  font-size: 30px;
}

h3 {
  text-align: center;
  font-family: Sedgwick ave display;
  color: white;
}

.scores {
  color: yellow;
  text-align: center;
  font-family: VT323;
  font-size: 25px;
}

.scoreBoard {
  text-align: center;
}

.alert {
  color: white;
  text-align: center;
  font-family: VT323;
}
